@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}
.App {
	text-align: center;
}

.header {
	background-color: #f55a5a;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	gap: 0.5em;
}
